<div class="container" style="padding-left: 10px;">
    <h3>Detailed Description</h3>
    <div style="float:left;padding-top:40px;">
        <img src="./images/usedcar.png">
    </div>

    <div style="width:300px; float:left;padding-left:30px;">
        <br>
        <p style="color:brown"><b>Jimmy X3422</b></p>


        Details : Red car
        <br>
        <br> Washed her everyday, love her but have to let her go
        <br> Tragic but I need money. Please buy car.
        <br>
        <br> $50000

    </div>
    <div class="bgimg" style="float: right; margin-right: 20px; padding: 30px; border: 1px solid #BDBDBD">
        <span><img src="./images/ui.png" height="120px" width="120px"></span>
        <div>
            <h4 style="text-align: center;">Seller Details </h4> Rama Kant <br> Sold : 500 items <br> Mumbai</div>
    </div>

</div>